
<ul id="slide-out" class="sidenav blue-grey darken-1">
  <li><div class="user-view">
    <div class="background">

    </div>
    <a href="#user"><img class="circle" src="/assets/images/logo2.png"></a>
      </div></li>
  <br>
  <br>
  <br>
  <li><div class="divider"></div></li>
  <li><a href="#!" class="white-text"><i class="material-icons white-text">dashboard</i>Panel</a></li>
  <li><div class="divider"></div></li>
    <li><a class="waves-effect white-text" href="#!"><i class="material-icons white-text">person</i>Clientes</a></li>
    <li><a class="waves-effect white-text" href="#!"><i class="material-icons white-text">shopping_basket</i>Productos</a></li>
    <li><a class="waves-effect white-text" href="#!"><i class="material-icons white-text">insert_chart</i>Cierre de Caja</a></li>
    <li><a class="waves-effect white-text" href="#!"><i class="material-icons white-text">settings</i>Configuración</a></li>
    <li><a class="waves-effect white-text" href="#!"><i class="material-icons white-text">sim_card_alert</i>Pendietes</a></li>

  <li><div class="divider"></div></li>
  <li><a class="waves-effect white-text" href="#!"><i class="material-icons white-text">shopping_cart</i>Ventas</a></li>
  <li><a class="waves-effect white-text" href="#!"><i class="material-icons white-text">attach_money</i>Notas de crédito</a></li>

</ul>
<a class="waves-effect waves-light btn sidenav-trigger" href="#" data-target="slide-out" ><i class="material-icons ">arrow_drop_down</i></a>




