
<ul id="slide-out" class="sidenav blue-grey darken-1">
  <li><div class="user-view">
    <div class="background">

    </div>
    <a href=""><img class="brand-logo" src="/assets/images/logo2.png"></a>
      </div></li>
  <br>
   <li><div class="divider"></div></li>
  <li><a href="#!" class="white-text"><i class="material-icons white-text">dashboard</i>Panel</a></li>
  <li><div class="divider"></div></li>
    <li><a class="waves-effect white-text    modal-trigger" href="#modal1"><i class="material-icons white-text">person</i>Clientes</a></li>
    <li><a class="waves-effect white-text" href="#!"><i class="material-icons white-text">shopping_basket</i>Productos</a></li>
    <li><a class="waves-effect white-text" href="#!"><i class="material-icons white-text">insert_chart</i>Cierre de Caja</a></li>
    <li><a class="waves-effect white-text" href="#!"><i class="material-icons white-text">settings</i>Configuración</a></li>
    <li><a class="waves-effect white-text" href="#!"><i class="material-icons white-text">sim_card_alert</i>Pendietes</a></li>

  <li><div class="divider"></div></li>
  <li><a class="waves-effect white-text" href="#!"><i class="material-icons white-text">shopping_cart</i>Ventas</a></li>
  <li><a class="waves-effect white-text" href="#!"><i class="material-icons white-text">attach_money</i>Notas de crédito</a></li>

</ul>
<a class="waves-effect waves-light btn sidenav-trigger" href="#" data-target="slide-out" ><i class="material-icons ">arrow_drop_down</i></a>




<!-- Modal Cliente -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <i class="large material-icons ">person</i><h4>Clientes</h4>
    <div class="file-field input-field">
      <div class="btn">
        <span><i class="material-icons white-text">clear</i></span>

      </div>
      <div class="btn">
        <span><i class="material-icons white-text">search</i></span>

      </div>

      <div class="file-path-wrapper">
        <div class="input-field">
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">First Name</label>
        </div>
        <div class="btn">
          <span><i class="material-icons white-text">add</i></span>

        </div>
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <a  class="modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>
